<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="employees" routerLinkActive="active" class="nav-link">Employee List</a>
    </li>
    <li class="nav-item">
      <a routerLink="create-employee" routerLinkActive="active" class="nav-link">Add Employee</a>
    </li>
  </ul>
</nav>

<h1 class="text-center"> {{title | titlecase }}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row pt-3">
        <div class="col-md-12 copy">
          <p class="text-center">All Rights Reserved 2022 @JavaGuides</p>
        </div>
      </div>
    </div>
  </div>
</footer>
