.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: blue;
  text-align: center;
  color: white;
}
footer {
  background: rgb(9, 95, 234);
   color: white;
   margin-top:100px;
 }
